*{
border-radius: 0px !important; 
-moz-border-radius: 0px !important;
-webkit-border-radius: 0px !important;
}
.container{
margin-top: 25px;
margin-bottom: 25px;
width: 100%;
}
.navbar{
border-radius: 0px !important; 
-moz-border-radius: 0px !important;
-webkit-border-radius: 0px !important;
}
.navbar-brand{
font-size: 1.0em;
}
.jumbotron{
background: rgb(253,253,253);
color: rgb(66,66,66);
border-radius: 0px !important; 
-moz-border-radius: 0px !important;
-webkit-border-radius: 0px !important;
border: 1px solid #dfdfdf;
}
.jumbotron h1{
margin: 0 0 0 0;
padding: 0 0 0 0;
font-size: 1.5em;
font-weight: 200;
}
.jumbotron h2{
margin: 0 0 0 0;
padding: 0 0 0 0;
font-size: 1.2em;
font-weight: 200;
}
label{
font-weight: 200;
}
.center{
text-align:center;
}
.left{
text-align:left;
}
.right{
text-align:right;
}
ul.list-group{
margin: 0 0 0 0;
}
.debugging{
margin-top: 100px;
color: #fff;
background: #000;
border: 10px solid #ff0035;
padding: 50px 50px 50px 50px;
}