*{
border-radius: 0px !important; 
-moz-border-radius: 0px !important;
-webkit-border-radius: 0px !important;
}
.container{
margin-top: 25px;
margin-bottom: 25px;
width: 100%;
}
.navbar{
border-radius: 0px !important; 
-moz-border-radius: 0px !important;
-webkit-border-radius: 0px !important;
font-size: 1.00em;
border: none;
}
.navbar-brand{
font-size: 1.00em;
color: rgb(255,255,255) !important;
}
.jumbotron{
background: rgb(255,255,255);
color: rgb(66,66,66);
border-radius: 0px !important; 
-moz-border-radius: 0px !important;
-webkit-border-radius: 0px !important;
border: 1px solid #dfdfdf;
}
.jumbotron h1{
margin: 0 0 0 0;
padding: 0 0 0 0;
font-size: 1.4em;
font-weight: 200;
line-height: 1.8em;
margin-bottom: 25px;
}
.jumbotron h2{
margin: 0 0 0 0;
padding: 0 0 0 0;
font-size: 1.0em;
font-weight: 200;
}
label{
font-weight: 200;
}
.center{
text-align:center;
}
.left{
text-align:left;
}
.right{
text-align:right;
}
ul.list-group{
margin: 0 0 0 0;
}
.debugging{
margin-top: 100px;
color: #fff;
background: #000;
border: 10px solid #ff0035;
padding: 50px 50px 50px 50px;
}
.bootstrap-wysihtml5-insert-image-modal{
border: 55px solid #fff;
opacity: 0.8;
-moz-opacity: 0.8;  
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";  
filter:alpha(opacity=80);
}
pre.content_history p
{
font-size:12px !important;
line-height:12px !important;
border: none !important;
color: rgb(0,0,0) !important;
}
#cke_147_label,#cke_146_textInput{
display:none;visibility:hidden;
}
/*NEW BE LAYOUT*/
.row{margin-left:0;margin-right:0}small.trademark{font-size:11px;color:#fff}#sidebar{margin-bottom:100px}#wrapper{padding-left:25px;transition:all .4s ease 0;height:100%}#sidebar-wrapper{margin-left:-150px;left:25px;width:150px;background:#222;position:fixed;height:100%;z-index:10000;transition:all .4s ease 0}.sidebar-nav{display:block;float:left;width:150px;list-style:none;margin:0;padding:0}#page-content-wrapper{padding-left:0;margin-left:0;width:100%;height:auto}#wrapper.active{padding-left:150px}#wrapper.active #sidebar-wrapper{left:150px}#page-content-wrapper{width:100%}#sidebar_menu li a,.sidebar-nav li a{color:#999;display:block;float:left;text-decoration:none;width:150px;background:#252525;border-top:1px solid #373737;border-bottom:1px solid #1a1a1a;-webkit-transition:background .5s;-moz-transition:background .5s;-o-transition:background .5s;-ms-transition:background .5s;transition:background .5s}.sidebar_name{padding-top:25px;color:#fff;opacity:.7}.sidebar-nav li{line-height:40px;text-indent:20px}.sidebar-nav li a{color:#999;display:block;text-decoration:none}.sidebar-nav li a:hover{color:#fff;background:rgba(255,255,255,0.2);text-decoration:none}.sidebar-nav li a:active,.sidebar-nav li a:focus{text-decoration:none}.sidebar-nav>.sidebar-brand{height:65px;line-height:60px;font-size:18px}.sidebar-nav>.sidebar-brand a{color:#999}.sidebar-nav>.sidebar-brand a:hover{color:#fff;background:0}#main_icon{float:right;padding-right:65px;padding-top:20px}.sub_icon{float:right;padding-right:65px;padding-top:10px}.content-header{height:65px;line-height:65px}.content-header h1{margin:0;margin-left:20px;line-height:65px;display:inline-block}@media(max-width:767px){#wrapper{padding-left:25px;transition:all .4s ease 0}#sidebar-wrapper{left:25px}#wrapper.active{padding-left:150px}#wrapper.active #sidebar-wrapper{left:150px;width:150px;transition:all .4s ease 0}}
.sidebar-nav li.active a{color:#fff;background:rgba(255,255,255,0.2);text-decoration:none}
/*NEW BE LAYOUT*/
@-moz-document url-prefix(){
fieldset{display:table-cell;}
}
.table-responsive{overflow:auto;}
